@page "/"
@using ExampleApp.Components;

<div class="container">
    <div class="row mb-4">
        <div>
            <Blinker/>
        </div>
    </div>
    <div class="row mb-4">
        <div>
            <BindExample/>
        </div>
    </div>
    <div class="row mb-4">
        <div>
            <ListPage/>
        </div>
    </div>
    <div class="row mb-4">
        <div>
            <ParameterExample/>
        </div>
    </div>
    <div class="row mb-4">
        <div>
            <RoutingExample/>
        </div>
    </div>
    <div class="row mb-4">
        <div>
            <FormExample/>
        </div>
    </div>

</div>